{% extends 'base.html' %}


{% block title %} {{ super() }}- Home {% endblock %} <!--usado para modificar titulo mas sem substituir mantendo o que esta na pagina base-->

{% block teste %}
<div class="menu">
    <nav>
        <ul>
            <li>
                {% if current_user.is_authenticated %}
                <a href="{{url_for('logout')}}">Logout</a
                   >
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
<div>
    <div>
        <h1>Utilizando exteção de template</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab fuga magni hic illum consectetur dicta optio possimus nobis, corrupti excepturi commodi in porro veniam recusandae animi eos saepe, autem dignissimos.
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae libero facilis natus illum quas, omnis ducimus inventore nulla suscipit cumque aut, aliquam cupiditate placeat rerum? Repudiandae totam veritatis aperiam repellat.</p>
        </p>
    </div>
    
   

{% endblock %}
</body>
</html>