<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <h1 style="text-align: center;" >Cadastro</h1>
<form action="/add" class="container" method="post">
    <div class="col-md-6">
        <input type="text" name="nome" placeholder="nome" class="form-control">
    </div>
    <div class="col-md-6">
        <input type="password" name="password" placeholder="password" class="form-control">
    </div>
   </div>
   <br>
   <div class="row col-xs-12"></div>
   <br>
   <button type="submit" class="btn btn-block btn-sucess">Enviar</button>

    </div>
</form>
<div class="row">
</body>
</html>