<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
</head>
<body>
    <h1>Boletim Matematica</h1>
    <form action="http://localhost:5000/calculo" method="post">
        {% for x in range(5) %}
        <p><input type="number" min="0" max="10" name="nota{{x}}" id="nota{{x}}" placeholder="Nota {{x}}" required></p>
        {% endfor %}
        <p>
            <button type="submit">Enviar</button>
        </p>

    </form>

    
</body>
</html>