{% extends 'pagina_base.html'%}
{% block title %}{{ super ()}}- Herança {% endblock %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-Herança</title>
</head>

<body>
    

    {% block content_base%}

    <h2>Dentro do Bloco pagina herança:</h2> <br>
    
     <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, iure. Quia voluptatibus libero velit fuga blanditiis nemo, id voluptatem eos ratione expedita similique repellat. Cum numquam quasi voluptatum ullam earum.</p>
    
    {% endblock %} 
    
    
    
    
</body>
</html>