<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <style>
        h1{
            color: blueviolet;
        }
        p{
            color: chocolate;
            text-align: justify;
            text-decoration: solid;
        }
    </style>
</head>
<body>
    
    <div>
        <!--Herança de templates: o que estiver fora do boco será adicionado a herança-->
        <h2>Fora do bloco pagina base:</h2> <br> 
        <p>    
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi itaque incidunt amet ipsa voluptate aperiam placeat minus quisquam reiciendis. Eveniet labore nam dignissimos autem error iure, doloremque ratione ipsam ex!
        </p><!--O que está fora do bloco da pagina base será adicionado a pagina de herança-->

       {% block content_base %}<!--Bloco criado para adicionar conteudo a pagina herança. A informação contida neste bloco sera adicionada a heranca-->
       {% endblock%}
</body>
</html>