{% extends 'pagina_base.html'%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herança</title>
</head>
<body>
    

    {% block content %}
    <h1>Titulo pagina Herança </h1>


    Dentro do Bloco pagiana herança: <br>
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente eaque vel facilis dolores consequuntur possimus atque tenetur voluptates. Veniam architecto perferendis commodi accusantium nostrum est sapiente quod aut, quos itaque?
    
    {% endblock %}

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, libero assumenda. Labore vel dolore, ratione consequuntur velit itaque quia totam similique necessitatibus aliquam optio impedit consequatur saepe sed, odit fugiat?
    </p>
    
    
    
</body>
</html>