<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivos estaticos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"><!--passando metodo url_for para o diretorio raiz -->

</head>
<body>
    <h1>Teste Arquivos estaticos</h1>
    <!--Criando formulario para trabalhar com arquivos estaticos Flask-->
    <form action="http://127.0.0.1:5000/add" method="post">
        <input type="text" nome="name2" placeholder="Digite o nome">
        <br><br>
        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>