<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Aplicação {% endblock %}</title>
</head>
<body>
   
        <h1>Aplicação Python</h1>
        {% if user %}
        <p>Seja bem vindo {{user}}</p>
        {% else %}
        <p>Obrigado</p>
        {% endif %}
   </div>

   {% block loguin %}
   {% endblock %}
   {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning">   
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </div>
    </ul>
    {% endif %}
    {% endwith %}
    
   
   <p>Bloco de conteudo</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas porro amet laudantium reiciendis aliquam tempora nesciunt laboriosam vitae fuga? Numquam veniam animi fugit nesciunt fugiat quod culpa aliquid temporibus similique. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quo ut eos voluptates ipsum facere beatae incidunt eligendi, quia laudantium tempore officiis dolores, quibusdam modi magnam minus quidem deserunt vel?</p>

   {% block teste %}
   {% endblock %}
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>




</body>
</html>