<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <title>Home</title>
</head>
<body>
    
   <div>
        <h1>Aplicação Python</h1>
        {% if user %}
        <p>Seja bem vindo {{user}}</p>
        {% else %}
        <p>Obrigado</p>
        {% endif %}
   </div>
   {% block content %}
   <p>Bloco de conteudo</p>
   {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>  
    
</body>
</html>